body {
  margin: 0;
  background-color: rgb(20, 25, 48);
}

.video-container {
  position: relative;
  width: 90%;
  height: 95vh;
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: black;
  border: 5px solid rgb(255, 0, 106);
  border-radius: 10px;
}

video {
  width: 100%;
}
.next {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  filter: hue-rotate(135deg);
  font-size: 30pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.previous {
  position: absolute;
  right: 70px;
  top: 20px;
  background: none;
  border: none;
  filter: hue-rotate(135deg);
  font-size: 30pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (max-width: 600px) {
  .video-container {
    border: none;
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}
