*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
}
.container{
  position: absolute;
  height: 500px;
  width: 970px;
  background: #20174775;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-sizing: content-box;
}
.container::before{
  content: '';
  position: absolute;
  height: 500px;
  width: 970px;
  border:solid 10px #ffffff3a;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.left{
  position: absolute;
  left: 0;
  height: 100%;
  width: 150px;
  background-color: #1a115a93;
  box-shadow: 0 10px 50px rgba(0, 2, 26, 0.644);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-right: solid 1px #8077ff; */

}
.from{
  position: absolute;
  height: 100%;
  width: auto;
  right: 0px;
  left: 150px;
  padding-left: 30px;
}
.title{
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.title img{
  height: 70px;
  width: 70px;
  margin-left: 170px;
  opacity: .7;
}
.title h1{
  color: #cbbdffaf;
}
.link,.format{
    position: relative;   
    height: 40px;   
    left: 0;
    background: #08005033;
    border: solid 2px rgba(255, 255, 255, 0.137);
    border-radius: 20px;
    padding:0 10px;
    color: #ffffff;
    font-size: 20px;
}
.link{
  top: 100px;
  width: 300px;
  padding-top: 4px;
  padding-left: 20px;
}
.link::placeholder{
  color: #a8a2ff;
}
select{
  top: 110px;
  outline: 0;
}
select option{
  background: #1b1058;
  color: #ffffff;
}
select option:hover{
  background: #04002b;
  color: #ff0062;
}
.btn{
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #8077ff8c;
  border-radius: 15px;
  color: rgb(6, 0, 43);
  cursor: pointer;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all .1s linear;
}
.btn:hover{
  background-color: #ff255c;
  box-shadow: 0 0 50px #ff255b71;
}
.result1{
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0,-50%);
  height: 250px;
  background-color: #17114b52;
  border: solid 1px #8077ff;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.result1::before{
  content: '';
  position: absolute;
  box-sizing: border-box;
  height: 248px;
  width: 398px;
  border-radius: 10px;
  border: solid 5px #8077ff;
}
.result1 span{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
  font-size: 30px;
  color: #8077ff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.result2{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 150px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #8077ff;
}
.result2 span{
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 0;
  color: #04002b;
  user-select: none; 
  -webkit-user-select: none;        
  -moz-user-select: none; 
  -ms-user-select: none; 
}
#rmsg{
  position: absolute;
  right: 150px;
  width: 260px;
  top: 10px;
  color: #8077ff;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  visibility: hidden;
}
.result2 iframe{
  opacity: .001;
  z-index: 2;
}
.left img{
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 4px #ffffff7a;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.288);
  transition: all .3s linear;
}
.left img:hover{
  top: -50px;
  height: 110px;
  width: 110px;
  border: solid 5px #ff0080;
}
.left button{
  position: absolute;
  bottom: 10px;
  left: 50%;
  height: 35px;
  width: 90%;
  transform: translate(-50%);
  background-color: #6156ffa4;
  font-size: 20px;
  border: none;
  border-radius:5px;
  color: #04002b;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  transition: all .1s linear;
}
.left button:hover{
  background-color: #8077ff;
}
hr{
  position: absolute;
  height: 320px;
  width: 3px;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #ffffff41;
  border: none;
  right: 460px;
  margin-top: 10px;
}