@import url("https://fonts.googleapis.com/css?family=PT+Sans");
html,
body {
  margin: 0;
  border: 0;
  background-color: #030c22;
  color: #a9b0b3;
}

h1 {
  font-family: "PT Sans", Arial, monospace;
  font-size: 30px;
  position: fixed;
  margin-top: 30px;
  z-index: 2;
}

canvas {
  z-index: 1;
}
