*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
    background-image: url(https://www.teahub.io/photos/full/73-732125_abstract-gradient..jpg);
    background-size: cover;
    overflow:hidden;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 1200px;
    transform: translate(-50%, -50%);    
    border:solid 5px #fafafa63;
    border-radius: 20px;
    backdrop-filter: blur(25px);
}
.heading{
    position: absolute;
    top: 10px;
    width: 1170px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff1c;
    text-align: center;
    color:rgba(255, 255, 255, 0.856);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

}
.main{
    position: absolute;
    bottom: 20px;
    left: 15px;
    height:500px;
    width:1100px;
    border-radius: 10px;
    padding: 15px 30px;
    border: solid 3px rgba(255, 255, 255, 0.397);
    background: rgba(0, 0, 0, 0.096);
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
.input-section{
    position: sticky;
    top: -15px;
    left: -30px;
    width: 100%;
    height: 100px;
    background-color: #ffffff31;
    backdrop-filter: blur(35px);
    border-radius: 10px;
}
::-webkit-scrollbar{
    background-color: rgba(255, 255, 255, 0.247);
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #ffffff5e;    
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff;
}
#new-task-form{
    position: absolute;
    width: 1000px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff3a;
    border-radius: 10px;
    margin-bottom: 10px;
}
.texti,.texts{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0,-50%);
    height: 40px;
    width: 930px;
    border-radius: 8px;
    border: none;
    background-color: #00000023;
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
.texti::placeholder{
    color: #fcfcfc80;
}
.submit-btn{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0,-50%);
    width: 45px;
    height: 38px;
    border-radius: 8px;
    border: none;
    background-color: #ffffff2f;
    color: rgba(255, 255, 255, 0.664);
    font-size: 30px;
    box-shadow: 0 0 15px #00000034;
}
.submit-btn:hover{
    color: #85ff85;       
}
.task-list{
    position: relative;
    top: 10px;
}
.task{
    position: relative;
    height: 46px;
    width: 100%;
    background-color: #ffffff67;
    color: white;
    display: inline-flex;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.content input{
    position: relative;
    height: 40px;
    width: 910px;
    border-radius: 7px;
    border: none;
    background: #00000023;
    color: white;
    font-size: 25px;
    padding-left: 10px;
}
.action button{
    position: relative;
    height: 40px;
    width: 50px;
    border-radius: 7px;
    background-color: #ffffff48;
    border: none;
    margin-left: 5px;    
    font-size: 20px;
    color: white;
}
.action button:hover{
    filter: saturate(2);
    background-color: #ffffff60;
}

