.color-button {
  position: fixed;
  top: 50px;
  right: 150px;
  translate: 50% 0;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: var(--accent);
  color: var(--accentContrast);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.05s linear;
  &:hover {
    scale: 1.1;
  }
}

.color-picker {
  position: fixed;
  top: 100px;
  right: 150px;
  transform: translate(50%, 0);
  width: 200px;
  height: 200px;
  background: #191a1e;
  border-radius: 10px;
  box-shadow: 0 5px 30px #00000022;
  display: grid;
  place-items: center;
  visibility: hidden;
  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: calc(50% - 15px);
    width: 0px;
    height: 0px;
    border: solid 15px transparent;
    border-bottom: solid 20px #191a1e;
    border-top: none;
  }
}

.color-picker canvas {
  height: 160px;
  width: 160px;
}
