button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.progress-button {
  background: linear-gradient(to right, #f55265, #f77e61);
}

.buttonTitle {
  display: none;
}

#percentageText {
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.progress-container {
  background: transparent;
  position: absolute;
  top: 46px;
}
.progress-bar {
  background: #ffffff;
  height: 2px;
  position: absolute;
  bottom: 0px;
}
