        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        
        body {
            background-image: linear-gradient( 120deg, rgb(147, 243, 222), rgb(80, 189, 240));
            height: 100vh;
            width: 100%;
            cursor: url("cursor.png"), auto;
        }
        
         ::-webkit-scrollbar {
            width: 13px;
            height: 10px;
            background: rgb(22, 51, 76);
        }
        
         ::-webkit-scrollbar-thumb {
            background: rgba(97, 124, 175, 0.356);
            border-radius: 10px;
        }
        
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 90%;
            width: 90%;
            min-height: 650px;
            background: #15263d;
            border-radius: 20px;
            box-shadow: 25px 25px 50px #333;
        }
        
        .logo {
            position: absolute;
            left: 20px;
            top: 20px;
            cursor: url("pointer.png"), auto;
        }
        /* this is logo section */
        
        .fullpage-wrapper {
            width: 50px;
            height: 50px;
            display: flex;
        }
        
        .reactor-container {
            height: 50px;
            width: 50px;
            margin: auto;
            border: 1px dashed #888;
            position: relative;
            border-radius: 50%;
            background-color: #384c50;
            border: 1px solid rgb(18, 20, 20);
            box-shadow: 0px 0px 32px 8px rgb(18, 20, 20), 0px 0px 4px 1px rgb(18, 20, 20) inset;
        }
        
        .reactor-container-inner {
            height: 45px;
            width: 45px;
            background-color: rgb(22, 26, 27);
            box-shadow: 0px 0px 4px 1px #52FEFE;
        }
        
        .circle {
            border-radius: 50%;
        }
        
        .abs-center {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
        
        .core-inner {
            width: 30px;
            height: 30px;
            border: 5px solid #1B4E5F;
            background-color: #FFFFFF;
            box-shadow: 0px 0px 7px 5px #52FEFE, 0px 0px 10px 10px #52FEFE inset;
            margin: auto;
            color: #15263d;
        }
        
        .core-outer {
            width: 40px;
            height: 40px;
            border: 1px solid #52FEFE;
            background-color: #FFFFFF;
            box-shadow: 0px 0px 2px 1px #52FEFE, 0px 0px 10px 5px #52FEFE inset;
            margin: auto;
        }
        
        .coil-container {
            position: relative;
            width: 100%;
            height: 100%;
            animation: 3s infinite linear reactor-anim;
            margin: auto;
        }
        
        .coil {
            position: absolute;
            width: 10px;
            height: 10px;
            top: calc(50% - 20px);
            left: calc(50% - 30px);
            transform-origin: 30px 20px;
            background-color: #41e9f5;
            border-radius: 50%;
        }
        
        .coil-1 {
            transform: rotate(0deg);
        }
        
        .coil-2 {
            transform: rotate(45deg);
        }
        
        .coil-3 {
            transform: rotate(90deg);
        }
        
        .coil-4 {
            transform: rotate(135deg);
        }
        
        .coil-5 {
            transform: rotate(180deg);
        }
        
        .coil-6 {
            transform: rotate(225deg);
        }
        
        .coil-7 {
            transform: rotate(270deg);
        }
        
        .coil-8 {
            transform: rotate(315deg);
        }
        
        @keyframes reactor-anim {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        /* logo section end */
        
        .hed {
            position: absolute;
            left: 90px;
            top: 25px;
            display: flex;
        }
        
        .hed h1 {
            font-family: agency FB;
            color: #0ff;
            opacity: 70%;
        }
        
        .hed h2 {
            align-self: center;
            margin-left: 5px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(60, 255, 229);
        }
        
        .right-section {
            position: absolute;
            right: 0px;
            height: 100%;
            width: 80px;
            background: #101f33;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        
        .profile-pic {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 60px;
            width: 60px;
            border: solid 3px #41e9f5;
            border-radius: 50%;
            padding: 0;
            transition: all .2s linear;
            cursor: url("pointer.png"), auto;
        }
        
        .profile-pic img {
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: #888;
            margin: 2px;
            transition: all .2s linear;
        }
        
        .profile-pic:hover {
            width: 65px;
            height: 65px;
            right: 7.5px;
            top: 7.5px;
            transition: all .2s linear;
        }
        
        .profile-pic:hover img {
            height: 55px;
            width: 55px;
            transition: all .2s linear;
        }
        
        .channel1 {
            position: absolute;
            cursor: url("pointer.png"), auto;
            top: 150px;
            right: 10px;
            height: 60px;
            width: 60px;
            border: solid 3px #054366;
            border-radius: 50%;
            padding: 0;
        }
        
        .channel1:hover {
            border: solid 3px #3ddefa;
        }
        
        .channel1 img {
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: #888;
            margin: 2px;
        }
        
        .channel2 {
            position: absolute;
            cursor: url("pointer.png"), auto;
            top: 230px;
            right: 10px;
            height: 60px;
            width: 60px;
            border: solid 3px #054366;
            border-radius: 50%;
            padding: 0;
        }
        
        .channel2:hover {
            border: solid 3px #3ddefa;
        }
        
        .channel2 img {
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: #888;
            margin: 2px;
        }
        
        .top-row {
            position: absolute;
            size: 2px;
            top: 80px;
            left: 80px;
            width: 80%;
            border: solid 1px #101f33;
        }
        
        .uname {
            visibility: hidden;
            position: absolute;
            height: 30px;
            width: 130px;
            top: 25px;
            right: 0px;
            transition: all .3s linear;
        }
        
        .uname h1 {
            font-family: "agency FB";
            color: #41e9f5;
            font-size: 20pt;
        }
        
        .nav {
            position: absolute;
            display: grid;
            height: 280px;
            width: 70px;
            top: 100px;
            left: -30px;
            background: #1c3049;
            border-radius: 20px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
            cursor: url("pointer.png"), auto;
            z-index: 10;
        }
        
        .home {
            height: 70px;
            width: 70px;
            margin: 0px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
        
        .about {
            margin: 0px;
            top: 0px;
            height: 70px;
            width: 70px;
        }
        
        .services {
            margin: 0px;
            top: 0px;
            height: 70px;
            width: 70px;
        }
        
        .contact {
            margin: 0px;
            top: 0px;
            height: 70px;
            width: 70px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        
        .nave:hover {
            background: #263e5c;
        }
        
        .nav i {
            position: relative;
            height: 30px;
            width: 30px;
            left: 50%;
            top: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            font-size: 18pt;
            color: #425879;
        }
        
        .nave:hover i {
            color: #52FEFE;
            text-shadow: 0 0 20px #41e9f5;
        }
        
        .rrow {
            position: absolute;
            height: 50px;
            width: 100%;
            top: 410px;
        }
        
        .rrow h1 {
            font-size: 18pt;
            color: #ccffff;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: lighter;
            margin: 10px;
            margin-left: 110px;
        }
        
        .active i {
            color: #52FEFE !important;
            text-shadow: 0 0 20px #41e9f5;
        }
        
        .devp {
            position: absolute;
            height: 260px;
            width: 260px;
            left: 100px;
            top: 100px;
            border: double 10px transparent;
            border-radius: 50%;
            background-image: linear-gradient(45deg, rgb(0, 48, 87), rgb(0, 37, 117)), radial-gradient(circle at top left, rgb(0, 255, 255), #0075fc);
            background-origin: border-box;
            background-clip: content-box, border-box;
        }
        
        .devp img {
            position: absolute;
            height: 230px;
            width: 230px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
        
        .pname {
            position: absolute;
            height: 200px;
            width: 400px;
            top: 130px;
            left: 400px;
        }
        
        .pname h1 {
            position: relative;
            height: auto;
            width: auto;
            top: 40px;
            text-align: left;
            letter-spacing: 2px;
            font-size: 25pt;
            color: rgb(0, 195, 202);
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .pname hr {
            position: relative;
            top: 50px;
            border: solid 4px rgb(0, 195, 202);
            width: 250px;
        }
        
        .pname h2 {
            position: relative;
            height: auto;
            width: auto;
            top: 60px;
            text-align: left;
            font-size: 25pt;
            font-weight: 900;
            color: rgb(0, 195, 202);
            letter-spacing: 13px;
            font-family: Arial;
        }
        
        .au {
            position: absolute;
            height: 250px;
            width: 550px;
            top: 400px;
            left: 100px;
            padding-top: 20px;
            border-top: solid 4px #103050;
        }
        
        .au span {
            position: relative;
            font-size: 27px;
            color: #0ff;
            font-weight: bolder;
            text-transform: uppercase;
            text-decoration: underline;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .au p {
            position: relative;
            top: 10px;
            height: 40px;
            font-size: 20pt;
            color: #0ff;
            font-family: 'agency fb';
        }
        
        .dpbn {
            position: absolute;
            right: 460px;
            top: 150px;
            height: 50px;
            width: 50px;
            border: 3px solid transparent;
            border-radius: 50px;
            z-index: 18;
            text-align: center;
            transition: all .5s linear;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: #1c3049;
            box-shadow: 5px 5px 15px rgba(0, 18, 41, 0.699);
            cursor: url("pointer.png"), auto;
        }
        
        .dpbn i {
            position: absolute;
            height: 30px;
            width: 30px;
            left: 7px;
            top: 7px;
            font-size: 30px;
            color: #0ff;
        }
        
        .dpbn h2 {
            visibility: hidden;
            position: relative;
            left: 10px;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            top: 5px;
            color: #41e9f5;
            transition: all .5s linear;
            height: 40px;
            min-width: 200px;
        }
        
        .dpbn:hover {
            right: 100px !important;
            width: 410px !important;
        }
        
        .dpbn:hover h2 {
            visibility: visible !important;
        }
        
        .dpbn h3 {
            position: absolute;
            top: 60px;
            padding-left: 40px;
            width: 100%;
            text-align: left;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            color: #41e9f5;
            text-decoration: underline;
        }
        
        .dpbn p {
            position: relative;
            top: 50px;
            left: 0px;
            width: 100%;
            padding-left: 50px;
            text-align: left;
            color: #41e9f5;
            font-size: 23px;
            margin-top: 10px;
        }
        
        .dpbn span {
            position: absolute;
            top: 250px;
            left: 0;
            font-size: 24px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: #1e5e72;
            width: 90%;
            height: 100px;
            margin: 5%;
            text-align: center;
        }
        
        .efct {
            position: absolute;
            right: 200px;
            top: 300px;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            overflow: hidden;
            border: solid 4px #15263d;
            box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
        }
        
        .efct::before {
            content: '';
            position: absolute;
            top: 25px;
            bottom: 25px;
            left: 25px;
            right: 25px;
            background: #15263d;
            z-index: 10;
            border-radius: 50%;
            border: solid 2px #15263d;
            box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.4);
        }
        
        .efct span {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            z-index: -1;
            background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
            filter: blur(10px);
            animation: efct 0.5s linear infinite;
        }
        
        @keyframes efct {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        
        .clock {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            background: transparent;
            margin: 21px;
        }
        
        .center-nut,
        .center-nut2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
        
        .center-nut {
            height: 15px;
            width: 15px;
            background: #e41956;
            z-index: 13;
        }
        
        .center-nut2 {
            width: 9px;
            height: 9px;
            background: rgb(11, 229, 245);
            z-index: 17;
        }
        
        .sec-hand {
            position: absolute;
            height: 1px;
            width: 1px;
            z-index: 16;
            animation: sec-hand 60s linear infinite;
        }
        
        .sec-hand:before {
            position: absolute;
            content: '';
            height: 100px;
            width: 3px;
            left: -1px;
            top: -25px;
            background: rgb(0, 225, 255);
            border-radius: 3px;
        }
        
        .sec-hand:after {
            position: absolute;
            content: '';
            height: 45px;
            width: 7px;
            left: -3px;
            top: -55px;
            background: rgb(0, 225, 255);
            border-radius: 3px;
        }
        
        .min-hand {
            position: absolute;
            height: 1px;
            width: 1px;
            z-index: 15;
            animation: min-hand 3600s linear infinite;
        }
        
        .min-hand:before {
            position: absolute;
            content: '';
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 70px solid rgb(66, 88, 121);
            left: -3px;
            top: -95px;
            width: 1px;
            height: 1px;
        }
        
        .min-hand:after {
            position: absolute;
            content: '';
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-top: 25px solid rgb(66, 88, 121);
            left: -3px;
            top: -25px;
            width: 3px;
            height: 1px;
        }
        
        .hr-hand {
            position: absolute;
            height: 1px;
            width: 1px;
            z-index: 14;
            animation: hr-hand 43200s linear infinite;
        }
        
        .hr-hand:before {
            position: absolute;
            content: '';
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 55px solid rgb(66, 88, 121);
            left: -3px;
            top: -75px;
            width: 1px;
            height: 1px;
        }
        
        .hr-hand:after {
            position: absolute;
            content: '';
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-top: 20px solid rgb(66, 88, 121);
            left: -3px;
            top: -20px;
            width: 3px;
            height: 1px;
        }
        
        .nmessage {
            visibility: hidden;
            position: absolute;
            width: 88%;
            height: 400px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        .nmessage span:nth-child(1) {
            position: absolute;
            top: 130px;
            width: 100%;
            height: 200px;
            font-size: 40pt;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(0, 225, 255);
            text-transform: uppercase;
            font-weight: bolder;
            text-align: center;
        }
        
        .nmessage span:nth-child(2) {
            position: absolute;
            top: 270px;
            width: 100%;
            height: 200px;
            font-size: 30pt;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(54, 83, 107);
            text-transform: uppercase;
            font-weight: bolder;
            text-align: center;
        }
        
        .nmessage svg {
            position: absolute;
            top: 10px;
            height: 100px;
            width: 100px;
            left: 50%;
            transform: translate(-50%);
            border-radius: 50%;
        }
        
        @media(max-width: 1300px) {
            body {
                background: #0ff;
                padding: 0;
            }
            .devp,
            .pname,
            .au,
            .dpbn,
            .efct {
                visibility: hidden;
            }
            .nmessage {
                visibility: visible;
            }
        }