* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( 120deg, rgb(147, 243, 222), rgb(80, 189, 240));
    height: 100vh;
    width: 100%;
    cursor: url("cursor.png"), auto;
}

 ::-webkit-scrollbar {
    width: 13px;
    height: 10px;
    background: rgb(22, 51, 76);
}

 ::-webkit-scrollbar-thumb {
    background: rgba(97, 124, 175, 0.356);
    border-radius: 10px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    min-height: 690px;
    background: #15263d;
    border-radius: 20px;
    box-shadow: 25px 25px 50px #333;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: url("pointer.png"), auto;
}


/* this is logo section */

.fullpage-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
}

.reactor-container {
    height: 50px;
    width: 50px;
    margin: auto;
    border: 1px dashed #888;
    position: relative;
    border-radius: 50%;
    background-color: #384c50;
    border: 1px solid rgb(18, 20, 20);
    box-shadow: 0px 0px 32px 8px rgb(18, 20, 20), 0px 0px 4px 1px rgb(18, 20, 20) inset;
}

.reactor-container-inner {
    height: 45px;
    width: 45px;
    background-color: rgb(22, 26, 27);
    box-shadow: 0px 0px 4px 1px #52FEFE;
}

.circle {
    border-radius: 50%;
}

.abs-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.core-inner {
    width: 30px;
    height: 30px;
    border: 5px solid #1B4E5F;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 7px 5px #52FEFE, 0px 0px 10px 10px #52FEFE inset;
    margin: auto;
    color: #15263d;
}

.core-outer {
    width: 40px;
    height: 40px;
    border: 1px solid #52FEFE;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 1px #52FEFE, 0px 0px 10px 5px #52FEFE inset;
    margin: auto;
}

.coil-container {
    position: relative;
    width: 100%;
    height: 100%;
    animation: 3s infinite linear reactor-anim;
    margin: auto;
}

.coil {
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 20px);
    left: calc(50% - 30px);
    transform-origin: 30px 20px;
    background-color: #41e9f5;
    border-radius: 50%;
}

.coil-1 {
    transform: rotate(0deg);
}

.coil-2 {
    transform: rotate(45deg);
}

.coil-3 {
    transform: rotate(90deg);
}

.coil-4 {
    transform: rotate(135deg);
}

.coil-5 {
    transform: rotate(180deg);
}

.coil-6 {
    transform: rotate(225deg);
}

.coil-7 {
    transform: rotate(270deg);
}

.coil-8 {
    transform: rotate(315deg);
}

@keyframes reactor-anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* logo section end */

.hed {
    position: absolute;
    left: 90px;
    top: 25px;
    display: flex;
}

.hed h1 {
    font-family: agency FB;
    color: #0ff;
    opacity: 70%;
}

.hed h2 {
    align-self: center;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(60, 255, 229);
}

.right-section {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 80px;
    background: #101f33;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.profile-pic {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 60px;
    width: 60px;
    border: solid 3px #41e9f5;
    border-radius: 50%;
    padding: 0;
    transition: all .2s linear;
    cursor: pointer;
}

.profile-pic img {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #888;
    margin: 2px;
    transition: all .2s linear;
}

.profile-pic:hover {
    width: 65px;
    height: 65px;
    right: 7.5px;
    top: 7.5px;
    transition: all .2s linear;
    cursor: url("pointer.png"), auto;
}

.profile-pic:hover img {
    height: 55px;
    width: 55px;
    transition: all .2s linear;
}

.channel1 {
    position: absolute;
    cursor: url("pointer.png"), auto;
    top: 150px;
    right: 10px;
    height: 60px;
    width: 60px;
    border: solid 3px #054366;
    border-radius: 50%;
    padding: 0;
}

.channel1:hover {
    border: solid 3px #3ddefa;
}

.channel1 img {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #888;
    margin: 2px;
}

.channel2 {
    position: absolute;
    cursor: url("pointer.png"), auto;
    top: 230px;
    right: 10px;
    height: 60px;
    width: 60px;
    border: solid 3px #054366;
    border-radius: 50%;
    padding: 0;
}

.channel2:hover {
    border: solid 3px #3ddefa;
}

.channel2 img {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #888;
    margin: 2px;
}

.top-row {
    position: absolute;
    size: 2px;
    top: 80px;
    left: 80px;
    width: 80%;
    border: solid 1px #101f33;
}

.uname {
    visibility: hidden;
    position: absolute;
    height: 30px;
    width: 130px;
    top: 25px;
    right: 0px;
    transition: all .3s linear;
}

.uname h1 {
    font-family: agency FB;
    color: #41e9f5;
    font-size: 20pt;
}

.nav {
    position: absolute;
    display: grid;
    height: 280px;
    width: 70px;
    top: 100px;
    left: -30px;
    background: #1c3049;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    cursor: url("pointer.png"), auto;
    z-index: 10;
}

.home {
    height: 70px;
    width: 70px;
    margin: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.about {
    margin: 0px;
    top: 0px;
    height: 70px;
    width: 70px;
}

.services {
    margin: 0px;
    top: 0px;
    height: 70px;
    width: 70px;
}

.contact {
    margin: 0px;
    top: 0px;
    height: 70px;
    width: 70px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nave:hover {
    background: #263e5c;
}

.nav i {
    position: relative;
    height: 30px;
    width: 30px;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 18pt;
    color: #425879;
}

.nave:hover i {
    color: #52FEFE;
    text-shadow: 0 0 20px #41e9f5;
}

.active i {
    color: #52FEFE !important;
    text-shadow: 0 0 20px #41e9f5;
}

.heading {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 100px;
    font-size: 30pt;
    font-family: agency fb;
    text-align: center;
    color: #0ff;
}

.nmessage {
    visibility: hidden;
    position: absolute;
    width: 88%;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nmessage span:nth-child(1) {
    position: absolute;
    top: 130px;
    width: 100%;
    height: 200px;
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 225, 255);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.nmessage span:nth-child(2) {
    position: absolute;
    top: 270px;
    width: 100%;
    height: 200px;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 83, 107);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.nmessage svg {
    position: absolute;
    top: 10px;
    height: 100px;
    width: 100px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
}

@media(max-width: 1170px) {
    body {
        background: #0ff;
        padding: 0;
    }
    .player,
    .most-watched,
    .most-watched2,
    .rrow,
    .brow,
    .tpic {
        visibility: hidden;
    }
    .nmessage {
        visibility: visible;
    }
}